<!DOCTYPE html>
<html>
<head>
  <title>新增/编辑目录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link href="resources/css/axure_rp_page.css" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
  <link href="data/styles.css" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/data/styles.css" type="text/css" rel="stylesheet"/>
  <link href="files/新增_编辑目录/styles.css" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/files/新增_编辑目录/styles.css" type="text/css" rel="stylesheet"/>
  <script src="resources/scripts/jquery-3.2.1.min.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/jquery-3.2.1.min.js"></script>
  <script src="resources/scripts/axure/axQuery.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/axQuery.js"></script>
  <script src="resources/scripts/axure/globals.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/globals.js"></script>
  <script src="resources/scripts/axutils.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axutils.js"></script>
  <script src="resources/scripts/axure/annotation.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/annotation.js"></script>
  <script src="resources/scripts/axure/axQuery.std.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/axQuery.std.js"></script>
  <script src="resources/scripts/axure/doc.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/doc.js"></script>
  <script src="resources/scripts/messagecenter.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/messagecenter.js"></script>
  <script src="resources/scripts/axure/events.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/events.js"></script>
  <script src="resources/scripts/axure/recording.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/recording.js"></script>
  <script src="resources/scripts/axure/action.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/action.js"></script>
  <script src="resources/scripts/axure/expr.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/expr.js"></script>
  <script src="resources/scripts/axure/geometry.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/geometry.js"></script>
  <script src="resources/scripts/axure/flyout.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/flyout.js"></script>
  <script src="resources/scripts/axure/model.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/model.js"></script>
  <script src="resources/scripts/axure/repeater.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/repeater.js"></script>
  <script src="resources/scripts/axure/sto.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/sto.js"></script>
  <script src="resources/scripts/axure/utils.temp.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/utils.temp.js"></script>
  <script src="resources/scripts/axure/variables.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/variables.js"></script>
  <script src="resources/scripts/axure/drag.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/drag.js"></script>
  <script src="resources/scripts/axure/move.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/move.js"></script>
  <script src="resources/scripts/axure/visibility.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/visibility.js"></script>
  <script src="resources/scripts/axure/style.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/style.js"></script>
  <script src="resources/scripts/axure/adaptive.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/adaptive.js"></script>
  <script src="resources/scripts/axure/tree.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/tree.js"></script>
  <script src="resources/scripts/axure/init.temp.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/init.temp.js"></script>
  <script src="resources/scripts/axure/legacy.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/legacy.js"></script>
  <script src="resources/scripts/axure/viewer.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/viewer.js"></script>
  <script src="resources/scripts/axure/math.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/math.js"></script>
  <script src="resources/scripts/axure/jquery.nicescroll.min.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/resources/scripts/axure/jquery.nicescroll.min.js"></script>
  <script src="data/document.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/data/document.js"></script>
  <script src="files/新增_编辑目录/data.js" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/files/新增_编辑目录/data.js"></script>
  <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'/*tpa=http://prototype.bzhzx.com:8080/hangduo_20181229/resources/images/transparent.gif*/; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'/*tpa=http://prototype.bzhzx.com:8080/hangduo_20181229/resources/Other.html*/; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'/*tpa=http://prototype.bzhzx.com:8080/hangduo_20181229/resources/reload.html*/; };
  </script>
</head>
<body>
<div id="base" class="">

  <!-- Unnamed (矩形) -->
  <div id="u442" class="ax_default box_1">
    <div id="u442_div" class=""></div>
    <div id="u442_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u443" class="ax_default label">
    <div id="u443_div" class=""></div>
    <div id="u443_text" class="text ">
      <p><span style="text-decoration:none;">新增目录</span></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u444" class="ax_default box_3">
    <div id="u444_div" class=""></div>
    <div id="u444_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u445" class="ax_default box_1">
    <img id="u445_img" class="img " src="images/新增_编辑目录/u445.svg" tppabs="http://prototype.bzhzx.com:8080/hangduo_20181229/images/新增_编辑目录/u445.svg"/>
    <div id="u445_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u446" class="ax_default label">
    <div id="u446_div" class=""></div>
    <div id="u446_text" class="text ">
      <p><span style="text-decoration:none;">法规管理</span></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u447" class="ax_default label">
    <div id="u447_div" class=""></div>
    <div id="u447_text" class="text ">
      <p><span style="text-decoration:none;">/</span></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u448" class="ax_default label">
    <div id="u448_div" class=""></div>
    <div id="u448_text" class="text ">
      <p><span style="text-decoration:none;">新增目录</span></p>
    </div>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u449" class="ax_default label">
    <div id="u449_div" class=""></div>
    <div id="u449_text" class="text ">
      <p><span style="text-decoration:none;">*目录名称 ：</span></p>
    </div>
  </div>

  <!-- Unnamed (文本框) -->
  <div id="u450" class="ax_default text_field">
    <div id="u450_div" class=""></div>
    <input id="u450_input" type="text" value="" class="u450_input"/>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u451" class="ax_default label">
    <div id="u451_div" class=""></div>
    <div id="u451_text" class="text ">
      <p><span style="text-decoration:none;">同级目录排序 ：</span></p>
    </div>
  </div>

  <!-- Unnamed (文本框) -->
  <div id="u452" class="ax_default text_field">
    <div id="u452_div" class=""></div>
    <input id="u452_input" type="number" value="" class="u452_input"/>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u453" class="ax_default html_button">
    <div id="u453_div" class=""></div>
    <div id="u453_text" class="text ">
      <p><span style="text-decoration:none;">新增目录</span></p>
    </div>
  </div>

  <!-- 选择法规 (下拉列表框) -->
  <div id="u454" class="ax_default droplist" data-label="选择法规">
    <div id="u454_div" class=""></div>
    <select id="u454_input" class="u454_input">
      <option class="u454_input_option" value="请选择">请选择</option>
      <option class="u454_input_option" value="CCAR-21-R4 民用航空产品和零部件合格审定规定">CCAR-21-R4 民用航空产品和零部件合格审定规定</option>
      <option class="u454_input_option" selected value="CCAR-25-R4运输类飞机适航标准">CCAR-25-R4运输类飞机适航标准</option>
      <option class="u454_input_option" value=" CCAR-26运输类飞机的持续适航和安全改进规定">&nbsp;CCAR-26运输类飞机的持续适航和安全改进规定</option>
      <option class="u454_input_option" value="CCAR-27-R1正常类旋翼航空器适航规定">CCAR-27-R1正常类旋翼航空器适航规定</option>
      <option class="u454_input_option" value="CCAR-29-R1运输类旋翼航空器适航规定">CCAR-29-R1运输类旋翼航空器适航规定</option>
    </select>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u455" class="ax_default label">
    <div id="u455_div" class=""></div>
    <div id="u455_text" class="text ">
      <p><span style="text-decoration:none;">*选择所属法规：</span></p>
    </div>
  </div>

  <!-- 选择法规 (下拉列表框) -->
  <div id="u456" class="ax_default droplist" data-label="选择法规">
    <div id="u456_div" class=""></div>
    <select id="u456_input" class="u456_input">
      <option class="u456_input_option" value="无">无</option>
      <option class="u456_input_option" value="A分部 总则">A分部 总则</option>
      <option class="u456_input_option" value="B分部  飞行">B分部&nbsp; 飞行</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              性能">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 性能</option>
      <option class="u456_input_option" value="              操纵性和机动性">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 操纵性和机动性</option>
      <option class="u456_input_option" value="C分部  结构">C分部&nbsp; 结构</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况</option>
      <option class="u456_input_option" value="D分部  设计与构造">D分部&nbsp; 设计与构造</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况  ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况&nbsp; </option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况  ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况&nbsp; </option>
      <option class="u456_input_option" value="D分部  飞行">D分部&nbsp; 飞行</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              性能">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 性能</option>
      <option class="u456_input_option" value="              操纵性和机动性">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 操纵性和机动性</option>
      <option class="u456_input_option" value="E分部  结构">E分部&nbsp; 结构</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况</option>
      <option class="u456_input_option" value="F分部  设计与构造">F分部&nbsp; 设计与构造</option>
      <option class="u456_input_option" value="              总则">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 总则</option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况  ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况&nbsp; </option>
      <option class="u456_input_option" value="              飞行载荷">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行载荷</option>
      <option class="u456_input_option" value="              飞行机动和突风情况">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 飞行机动和突风情况</option>
      <option class="u456_input_option" value="              补充情况  ">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 补充情况&nbsp; </option>
    </select>
  </div>

  <!-- Unnamed (矩形) -->
  <div id="u457" class="ax_default label">
    <div id="u457_div" class=""></div>
    <div id="u457_text" class="text ">
      <p><span style="text-decoration:none;">*选择父级目录：</span></p>
    </div>
  </div>
</div>
</body>
</html>
