<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangduo.dao.statute.CityMapper">
	<select id="sheng" resultMap="del">
		SELECT 	id, `name`, `keys` FROM ceshi.city WHERE `keys`=#{key}
	</select>



	<resultMap id="del" type="com.hangduo.entity.City">

		<id column="id" property="id"  />
		<result column="name" property="name"  />
		<result column="keys" property="keys"  />

	</resultMap>



</mapper>